/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--themes-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--themes-main-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--main-heart_color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--main-heart_color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--main-heart_color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--main-heart_color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--main-heart_color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s alternate;
}

@keyframes active_menu-animation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(4px);
  }
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  0% {
    fill: transparent;
  }

  50% {
    fill: #ff0000;
  }

  100% {
    fill: transparent;
  }
}
