/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  display: grid;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: "wght" var(--normal_weight);
  }
}

.header {
  display: grid;
  align-items: center;
  padding: 120px 14px 21px;
  border: 2px solid var(--themes-main-color);
  margin-block-start: 102px;
  margin-block-end: 100px;
  background-color: var(--bg-color);
}

.header_title {
  justify-self: center;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--normal_weight);
  text-transform: uppercase;
  margin-block-end: 18px;
}

.header_discription {
  justify-self: center;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--normal_weight);
  text-transform: uppercase;
  margin-block-end: 25px;
}

.theme-menu {
  inline-size: 100%;
}

.theme-menu__list {
  display: grid;
  justify-content: center;
  gap: 9px;
}

.theme-menu__item {
  display: grid;
  justify-content: left;
}

.theme-menu__button {
  position: relative;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: var(--small);
  font-weight: var(--normal_weight);
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  min-block-size: 14px;
  margin-inline-start: 20px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: var(--themes-main-color);
  opacity: 0.6;
  transition: width 0.3s ease-in-out;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  top: 0px;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: var(--small);
  font-weight: var(--normal_weight);
  text-transform: uppercase;
  opacity: 0.6;
  animation: active_menu-animation 0.5s ease-in-out infinite alternate;
}

.content {
  display: grid;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 9px 17px;
  border: 2px solid var(--themes-main-color);
  background-color: transparent;
  cursor: pointer;
  box-shadow: 2px 2px 0px 0px transparent;
  transition: box-shadow 0.3s ease-in-out;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  block-size: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--themes-main-color);
  transform-origin: left center;
  transition: width 0.5s ease-in-out;
}

.button:hover::after {
  width: 100%;
}

.content_section:nth-of-type(1) {
  margin-block-start: 0px;
}

.content_section {
  margin-block-start: 53px;
  background-color: var(--bg-color);
  outline: 2px solid var(--themes-main-color);
}

.section_title {
  color: var(--themes-main-color);
  font-family: var(--main-font);
  font-size: var(--medium);
  font-weight: var(--bold_weight);
  padding: 7px 10px 8px;
}

@supports (font-variation-settings: normal) {
  .section_title {
    font-variation-settings: "wght" var(--bold_weight);
  }
}

.image_container {
  position: relative;
  outline: 2px solid var(--themes-main-color);
  overflow: hidden;
}

.image_watermark {
  position: absolute;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: var(--small);
  font-weight: var(--normal_weight);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -0 -1px 0 var(--bg-color), 0 -1px 0 var(--bg-color),
    -0 1px 0 var(--bg-color), 0 1px 0 var(--bg-color), -1px -0 0 var(--bg-color),
    1px -0 0 var(--bg-color), -1px 0 0 var(--bg-color), 1px 0 0 var(--bg-color),
    -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color),
    -1px 1px 0 var(--bg-color), 1px 1px 0 var(--bg-color),
    -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color),
    -1px 1px 0 var(--bg-color), 1px 1px 0 var(--bg-color);
  top: 23px;
  right: 13px;
  z-index: 1;
}

@supports ((-webkit-text-stroke: 1px var(--bg-color)) or (text-stroke: 1px var(--bg-color))) {
  .image_watermark {
    text-shadow: none;
    text-stroke: 1px var(--bg-color);
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.section_image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.grayscale {
  filter: grayscale(75%);
}

.saturate {
  filter: brightness(150%) saturate(200%);
}

.hue_rotate {
  filter: hue-rotate(40deg);
}

.invert {
  filter: invert(100%) contrast(60%);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(15px);
}

.mix {
  filter: hue-rotate(100deg) saturate(150%) blur(2px) contrast(50%);
}

.card_content {
  padding: 0px 27px;
}

.section_text {
  margin-block-start: 25px;
  color: var(--themes-main-color);
  font-family: var(--main-font);
  font-size: var(--medium);
}

.buttons_container {
  margin-block-start: 25px;
  margin-block-end: 23.9px;
  display: flex;
  gap: 6px;
  justify-content: right;
  align-items: center;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0px;
  background-color: transparent;
  min-block-size: 36px;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--themes-main-color);
}

.card__like-button {
  inline-size: 130px;
  min-block-size: 37px;
}

.button__text {
  position: relative;
  color: var(--color-button-text);
  font-family: var(--accent-font);
  font-size: var(--small);
  font-weight: var(--normal_weight);
  line-height: 0.9;
  mix-blend-mode: difference;
  z-index: 1;
}

.save_button {
  justify-self: center;
  flex-direction: column;
  margin-block-start: 52px;
  margin-block-end: 102px;
  background-color: var(--bg-color);
  inline-size: 311px;
  min-block-size: 84px;
  gap: 8px;
}

.floppy {
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 1;
  inline-size: 28px;
  block-size: 28px;
}

dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 341px;
  padding: 32px 41px;
  border: 2px solid var(--themes-main-color);
  background-color: var(--bg-color);
  gap: 30px;
}

dialog::backdrop {
  background-color: rgba(0 0 0/0.75);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.floppy_dialog {
  color: var(--themes-main-color);
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.alert_text {
  max-inline-size: 198px;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: var(--small);
  font-weight: var(--normal_weight);
  line-height: 1.5;
  text-transform: uppercase;
}

.form {
  inline-size: 100%;
}

.close {
  inline-size: 100%;
  min-block-size: 38px;
}

@media (width >= 500px) {
  .header {
    padding: 133px 14px 21px;
    justify-self: center;
    inline-size: clamp(30rem, 22.8191rem + 22.9787vw, 43.5rem);
  }

  .header_title {
    margin-block-end: 21px;
  }

  .content {
    display: grid;
  }

  .content_section {
    justify-self: center;
    inline-size: clamp(30rem, 22.8191rem + 22.9787vw, 43.5rem);
    margin-block-start: 54px;
  }

  .card_content {
    padding-inline-end: 23px;
  }

  .image_watermark {
    right: 28px;
    top: 23px;
  }

  .buttons_container {
    margin-block-start: 28.1px;
  }

  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }

  .save_button {
    flex-direction: row;
    inline-size: 339px;
    min-block-size: 55px;
  }

  dialog {
    inline-size: 357px;
    padding: 31.5px 32.5px;
  }
}