/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-heart_color: #FF0000;
    --accent-font: 'PressStart2P', fantasy;
    --main-font: 'Inter', sans-serif;
    --small: 14px;
    --medium: 18px;
    --themes-main-color: #000;
    --color-button-text: #fff;
    --bg-color: #fff;
    --normal_weight: 400;
    --bold_weight: 700;
    --bg-gradient: repeating-linear-gradient(
        90deg,
        #fff 0px 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(180deg, #fff 0px 2px, transparent 2px 4px),
      linear-gradient(180deg, #fff 0%, #1a1a1a 100%);
}